*, *:before, *:after {
  box-sizing: border-box;
}

body {
  position: relative;
	background-color: grey;
  font-size: 12px;
  font-family: "SF Pro Display", Helvetica, Arial, sans-serif;
  font-style: normal
  font-weight: bold;
}

.bottomnav {
  position: absolute;
  width: 375px;
  height: 83px;
  bottom: 0px;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 375px;
  height: 812px;
  background: white;
}

.time {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 9.52%;
  bottom: 4.76%;
}

.top {
  position: relative;
  margin: 0 auto;
  width: 375px;
  height: 141px;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  background-image: url("../images/chicago.png");
  image-resolution: snap;
  box-sizing: border-box;
}

.route_name {
  float: center;
  position: relative;
  width: 240px;
  height: 38px;
  margin-left: 20%;
  padding-right: 5%;
  top: 46px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(218, 218, 218, 0.25);
}

.routes {
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 375px;
  height: 593px;
  overflow: auto;
}

.route_number {
  position: relative;
  padding-left: 10px;
  padding-bottom: 10px;
}

.destination {
  position: relative;
  padding-left: 10px;
  padding-bottom: 10px;
}

.arrival {
  position: relative;
  padding-top: 10px;
  padding-right: 10px;
}

.arrival_now {
  position: relative;
  color: red;
  padding-top: 10px;
  padding-right: 10px;
}

.time {
  position: absolute;
  left: 5.6%;
  right: 80%;
  top: 10%;
}
.signal_icon {
  position: absolute;
  left: 78.31%;
  right: 17.16%;
  top: 10%;
}

.wifi_icon {
  position: absolute;
  left: 84.18%;
  right: 11.74%;
  top: 10%;
}

.battery_icon {
  position: absolute;
  left: 89.6%;
  right: 3.91%;
  top: 10%;
}

.back_icon {
  position: absolute;
  width: 27px;
  height: 27px;
  left: 12px;
  top: 54px;
}


.li {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

hr {
  position: absolute;
  width: inherit;
  height: 0px;
  top: 729px;
  border: 0.5px solid rgba(0, 0, 0, 0.29);
}

.location {
  padding: 5%;
  position: relative;
  border-radius: 10px;
}

.heart_icon {
  position: absolute;
  left: 79.2%;
  right: 12.18%;
  bottom: 38%;
}

.search_icon {
  position: absolute;
  left: 12%;
  right: 80%;
  bottom: 38%;
}

.home_icon {
  position: absolute;
  left: 46.4%;
  right: 46.13%;
  bottom: 38%;
}

/* text */

h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: "SF Pro Text", Helvetica, sans-serif;
  color: #4F76DF;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  font-family: "SF Pro Text", Helvetica, sans-serif;
  color: #252525;
  line-height: 1.5em;

}

h3 {
  font-size: 1.2em;
  font-color: black;
  font-weight: bold;
  line-height: 1.5em;
  font-family: "SF Pro Text", Helvetica, sans-serif;
  float: right;
  position: relative;
  bottom: 40px;
  text-align: right;
}

h4 {
  position: absolute;
  font-size: 17px;
  font-style: normal;
  font-weight: normal;
  width: 146px;
  height: 14px;
  left: 37px;
  top: 60px;
  font-family: "SF Pro Text", Helvetica, sans-serif;
  color: white;
}

h4old {
  position: absolute;
  width: 146px;
  height: 14px;
  left: 27px;
  top: 70px;
  font-family: "SF Pro Text", Helvetica, sans-serif;
  color: #dadada;
  font-style: normal;
  font-weight: normal
  font-size: 17px;
}

h5 {
  position: absolute;
  width: 327px;
  height: 48px;
  left: 20px;
  top: 84px;
  color: white;
  font-family: "SF Pro Text", Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 48px;
}

h6 {
  position: absolute;
  color: white;
  font-family: "SF Pro Text", Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}
